@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.app-layout {
  display: grid;
  grid-template-columns: minmax(auto, 30rem) 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header header"
    "title character actions"
    "info character actions";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
